.footer-navbar-nav{
	display: inline-block;
	text-align: center;
}

.footer-navbar-nav>li{
	display: inline-block;
	
	text-align: center;
}
.date select,
.time select,
.datetime select {
    display: inline;
    margin-right: 10px;
}
.scrollable{
	overflow: hidden;
	height: 8rem;
 }
.scrollable:hover{
	overflow-y: scroll;
}